<div class="container d-flex justify-content-between py-5">
    <!-- Left Section: Description -->
    <div class="left-section">
        <h1>EngBreaking</h1>
        <h3>Lifelong Learning</h3>
        <hr>
        <p>
            Nguyễn Quốc Bình - 23880008
        </p>

        <p>
            Võ Xuân Tú - 23880094
        </p>

        <p>
            Võ Vĩnh Nghi - 23880047
        </p>

        <p>
            Phạm Hoàng Nhật Trường - 21810226
        </p>
    </div>

    <!-- Right Section: Login Form -->
    <div class="right-section">
        <div class="login-form-container">
            <h2>Welcome Back!</h2>
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email or Username</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email or username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn-primary">Log In</button>
            </form>
            <div class="links d-flex justify-content-center mt-3">
                <a href="/chat-guest">Login as Guest</a>
                <span>&bull;</span>

                <!-- Button trigger modal -->
                <div type="button" class="links-btn" data-toggle="modal" data-target="#signUpModal">
                    Create an Account
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">Create new account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/users/register" method="post" id="formRegister">
                    <div class="my-3">
                        <label class="form-label" for="email">E-mail / Username</label>
                        <input class="form-control" type="text" placeholder="Email" name="email" required>
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" placeholder="Password" name="password" required
                            id="passwordRegister"
                            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                            onchange="checkPasswordConfirm('formRegister')">

                        <input type="checkbox" onclick="togglePass('passwordRegister')"> show password
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Confirm Password"
                            name="confirmPassword" onkeyup="checkPasswordConfirm('formRegister')" id="confirmPassword">

                        <input type="checkbox" onclick="togglePass('confirmPassword')"> show password
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" --}}